VITE_FIREBASE_API_KEY=AIzaSyCGLRBCAwP9rhugVyqcE2zaSzELFCvC0vQ
VITE_FIREBASE_AUTH_DOMAIN=march-madness-731fa.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=march-madness-731fa
VITE_FIREBASE_STORAGE_BUCKET=march-madness-731fa.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=520686720707
VITE_FIREBASE_APP_ID=1:520686720707:web:8acfac46c6a1ff282f3476
